body{
    background: rgb(50, 39, 108);
}

img{
border-radius: 50%; 
border:5px solid lightsteelblue;
}

.info{
    text-align: center;
    color: aliceblue;
}

.topnav {
    overflow: hidden;
    background-color: rgb(142, 162, 188);
}

.topnav a {
    float: left;
    display: block;
    color: #f4f4f4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: rgb(142, 162, 188);
    color: white;
}

.topnav #icon {
    display: block;
    color: beige;
    
    
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
}
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
}
}